{
    "clientID":     "YOUR-CLIENTID",
    "clientSecret": "YOUR-CLIENTSECRET"
    "smtpHost":     "SMTP-HOST",
    "smtpPort":     SMTP-PORT;
    "smtpUserName": "SMTP-USERNAME"
    "smtpPassword": "SMTP-PASSWORD"
}
